@import './mixins.scss';

.section-features{
  background-image: url(/src/images/section3/Group.png);
  padding-left: 164px;
  padding-right: 166px;

  @media (max-width: 1259px) {
    padding: 0 71px 0 71px;
  }
  @media (max-width: 767px) {
    padding: 0 20px 69px 20px;
    background: #FAFAFA;
  }

  &__subtitle{
    @include text;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    padding-top: 76px;
    padding-bottom: 59px;
    text-align: center;

    @media (max-width: 767px) {
      color: #333333;
      padding-top: 42px;
      padding-bottom: 0;
    }
  }

  &-characteristic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 87px;
    grid-row-gap: 40px;
    list-style-type: disc;
    list-style-position: inside;

    @media (max-width: 767px) {
      display: block;
      list-style-type: none;
    }

    &-item{
      font-family: 'Lato';
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: #FFFFFF;

      @media (max-width: 767px) {
        text-align: center;
        color: #4F4F4F;
      }

      &__icon{
        @media (max-width: 767px) {
          filter: invert(46%) sepia(79%) saturate(2017%) hue-rotate(161deg) brightness(94%) contrast(102%);
          margin-bottom: 16px;
          margin-top: 54px;
        }
      }
    }
  }
}
